/* Custom Icon Sizing CSS */
.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 9999px;
    margin-right: 1rem;
}

.icon-sm {
    width: 1rem;
    height: 1rem;
}

.icon-base {
    width: 1.25rem;
    height: 1.25rem;
}

.icon-lg {
    width: 1.5rem;
    height: 1.5rem;
}
